<div class="container container__auth">
  <div class="form__wrapper">
    <h1 class="form__title">Вход</h1>
    <form class="form" id="login-form">
      {{{LoginInput}}}
      {{{PasswordInput}}}
    </form>
    {{{Spacer}}}
    <div class="button__group">
      <a href="/messenger">
        {{{LoginButton}}}
      </a>
      {{{Link}}}
    </div>
  </div>
</div>