<div class="container container__auth">
  <div class="form__wrapper form__wrapper--full-height">
    <h1 class="form__title">Регистрация</h1>
    <form class="form" id="register-form">
      {{{EmailInput}}}
      {{{LoginInput}}}
      {{{FirstNameInput}}}
      {{{SecondNameInput}}}
      {{{PhoneInput}}}
      {{{PasswordInput}}}
      {{{PasswordRepeatInput}}}
    </form>
    {{{Spacer}}}
    <div class="button__group">
      {{{RegisterButton}}}
      {{{Link}}}
    </div>
  </div>
</div>