<div class="container container__chats">
  <div class="chats">
    {{{ChatHeader}}}
    {{{ChatListContacts}}}
  </div>
  {{#if selectedChat}}
    <div class="container container__selected-chat">
      {{{ChatSelectedDialog}}}
    </div>
  {{else}}
    {{{ChatSelectDialog}}}
  {{/if}}
</div>